%h3 Exchange #{@exchange.name} - Currencies Table
%table
  %thead
    %tr
      %th Name
      %th Converter
      %th Code
      %th Buy price
      %th Sell price
  %tbody
    - @exchange.currencies.each do |currency|
      %tr
        %td= link_to("#{currency.name}", money_report_path(currency.code))
        %td #{currency.converter}
        %td #{currency.code}
        %td #{currency.buy_price}
        %td #{currency.sell_price}

= link_to('Back', money_index_path)